@use "../abstracts/index" as *;

.block {
  container-name: layout-block;
  container-type: inline-size;
  display: flex;
  padding-inline: 8px;
  padding-block: 1.5rem;

  @include mq-phone-xs {
    padding-inline: #{clamp-calc(1.25rem, 1.563rem, $bp-xxs, $bp-sm)};
    padding-block: #{clamp-calc(1.25rem, 1.563rem, $bp-xxs, $bp-sm)};
  }

  @include mq-laptop {
    padding-inline: #{clamp-calc(1.563rem, 2.5rem, $bp-lg, $bp-xl)};
    padding-block: #{clamp-calc(1.563rem, 2.5rem, $bp-lg, $bp-xl)};
  }

  &--border {
    border-bottom: 1px solid var(--border-line);
    @include mq-tablet {
      border-right: 1px solid var(--border-line);
    }
    @include mq-laptop {
      border-bottom: none;
    }
  }

  &--split {
    justify-content: space-between; // Pushes top and bottom apart
    height: 100%;
    gap: 64px;
  }

  &--intro {
    padding-block: 2rem;

    @include mq-phone-xs {
      padding-block: #{clamp-calc(2.5rem, 6rem, $bp-xxs, $bp-sm)};
    }

    @include mq-laptop {
      padding-block: #{clamp-calc(6rem, 6.25rem, $bp-lg, $bp-xl)};
    }
  }
}
