@use "../abstracts/index" as *;

.block {
  container-name: layout-block;
  container-type: inline-size;
  display: flex;
  padding-inline: var(--space-2);
  padding-block: var(--space-20);

  @include mq-phone-xs {
    padding-inline: #{clamp-calc(1.25rem, 1.5rem, $bp-xxs, $bp-sm)};
    padding-block: var(--space-20);
  }

  @include mq-laptop {
    padding-inline: #{clamp-calc(1.5rem, 2.5rem, $bp-lg, $bp-xl)};
    padding-block: #{clamp-calc(1.75rem, 2.5rem, $bp-lg, $bp-xl)};
  }

  &--border {
    border-bottom: 1px solid var(--border-line);
    @include mq-tablet {
      border-right: 1px solid var(--border-line);
    }
    @include mq-laptop {
      border-bottom: none;
    }
  }

  &--padding-lg {
    padding-inline: 1.5rem;
    padding-block: 2.5rem;

    @include mq-phone-xs {
      padding-inline: #{clamp-calc(1.5rem, 2rem, $bp-xxs, $bp-sm)};
      padding-block: #{clamp-calc(2.5rem, 3rem, $bp-xxs, $bp-sm)};
    }

    @include mq-laptop {
      padding-inline: #{clamp-calc(2.5rem, 3rem, $bp-lg, $bp-xl)};
      padding-block: #{clamp-calc(3rem, 4rem, $bp-lg, $bp-xl)};
    }
  }

  &--split {
    justify-content: space-between;
    height: 100%;
    gap: 64px;
  }
  &--snippet {
    max-width: 53rem;
  }
  &--intro {
    padding-block: 2rem;

    @include mq-phone-xs {
      padding-block: #{clamp-calc(2.5rem, 6rem, $bp-xxs, $bp-sm)};
    }

    @include mq-laptop {
      padding-block: #{clamp-calc(6rem, 6.25rem, $bp-lg, $bp-xl)};
    }
  }

  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    * {
      margin-inline: auto;
    }

    .button,
    .eyebrow {
      justify-content: center;
    }
  }
}
