@use "../abstracts/index" as *;

.block {
  container-name: layout-block;
  container-type: inline-size;
  display: flex;
  padding-inline: 8px;
  padding-block: 1.5rem;

  @include mq-phone-xs {
    padding-inline: clamp(1.25rem, 1.108rem + 0.71vw, 1.563rem);
    padding-block: clamp(1.25rem, 1.108rem + 0.71vw, 1.563rem);
  }

  @include mq-laptop {
    padding-inline: clamp(1.563rem, -2.188rem + 5.859vw, 2.5rem);
    padding-block: clamp(1.563rem, -2.188rem + 5.859vw, 2.5rem);
  }

  &--border {
    border-bottom: 1px solid var(--border-line);
    @include mq-tablet {
      border-right: 1px solid var(--border-line);
    }
    @include mq-laptop {
      border-bottom: none;
    }
  }

  &--split {
    justify-content: space-between; // Pushes top and bottom apart
    height: 100%;
    gap: 64px;
  }

  &--intro {
    padding-block: 2rem;

    @include mq-phone-xs {
      padding-block: clamp(2.5rem, 0.907rem + 7.966vw, 6rem);
    }

    @include mq-laptop {
      padding-block: clamp(6rem, 5.005rem + 1.556vw, 6.25rem);
    }
  }
}
