@use "../abstracts/index" as *;

// ------------------------------------------------------
// 1. THE CONTAINER
// ------------------------------------------------------
// Bricks has a "Section" and "Container" element.
// We attach this class to the inner Container to enforce consistency.

.container {
  width: calc(100% - 32px);
  max-width: $bp-xl;

  &--border {
    border-right: 1px solid var(--border-line);
    border-bottom: 1px solid var(--border-line);
    border-left: 1px solid var(--border-line);
  }
  &--narrow {
    max-width: 53.125rem; // ~850px
  }
}
