@use "../abstracts/index" as *;

.header.is-open {
  .nav {
    visibility: visible;
    width: min(100vw, 20rem);
    transition:
      width 150ms ease,
      visibility 0s linear 0s;
  }

  .header__overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.header {
  z-index: 1000;
  position: relative;
  top: 0;

  .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 0.75rem;
    padding-block: 0.75rem;

    background-color: var(--light-bg);

    @include mq-phone-xs {
      padding-inline: clamp(1.25rem, 1.108rem + 0.71vw, 1.563rem);
      padding-block: clamp(1.25rem, 1.108rem + 0.71vw, 1.563rem);
    }

    @include mq-laptop {
      padding-inline: clamp(1.563rem, -2.188rem + 5.859vw, 2.5rem);
    }
  }

  &__overlay {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100dvh;
    transform: translateX(-50%);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease;
  }

  &__logo {
  }

  &__hamburger {
    cursor: pointer;
  }
}
