@use "../abstracts/index" as *;

.header.is-open {
  .nav {
    visibility: visible;
    width: min(100vw, 20rem);
    transition:
      width 150ms ease,
      visibility 0s linear 0s;
  }

  .header__overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.header {
  z-index: 1000;
  position: sticky;
  top: 0;

  .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    background-color: var(--light-bg);

    @include mq-phone-xxs {
      padding-inline: 1.5rem;
      padding-block: 1.5rem;
    }

    @include mq-tablet {
      padding-inline: 2.5rem;
    }
  }

  &__overlay {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100dvh;
    transform: translateX(-50%);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease;
  }

  &__logo {
    width: 2rem;
  }

  &__hamburger {
    width: 2rem;
    cursor: pointer;
  }

  &__icon-wrapper {
    > svg {
      width: 2rem;
      fill: var(--dark-text-primary);
    }
  }

  &__contact-wrapper {
    &-item {
      color: var(--dark-text-primary);
    }
  }
}
