@use "../abstracts/index" as *;

// ------------------------------------------------------
// SECTIONS (Vertical Rhythm)
// ------------------------------------------------------
// Use this on <section> or Bricks Section element

.section {
}
.section--small {
}
.section--large {
}
