@use "../abstracts/index" as *;

.button {
  --btn-py: 0.55em;
  --btn-px: 1.25em;
  --btn-radius: 0.25em;
  --btn-bg-color: var(--bg-theme-inverse);
  --btn-content-color: var(--text-primary-inverse);
  --btn-icon-size: 1.5em;
  --btn-font-size: var(--fs-body-default);
  --btn-border-width: 3px;
  --btn-border-color: var(--color-primary);

  display: inline-flex;
  align-items: center;
  padding-inline-start: var(--btn-px);
  padding-inline-end: calc(var(--btn-px) - (var(--btn-icon-size) * 0.25));
  padding-block: var(--btn-py);
  gap: 0.75em;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-radius);
  background-color: var(--btn-bg-color);
  color: var(--btn-content-color);
  font-weight: 500;
  font-size: var(--btn-font-size);
  font-family: $font-mono;

  &__text {
    font-size: var(--btn-font-size);
  }

  &__icon {
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    fill: var(--btn-content-color);
  }

  &--small {
    --btn-font-size: var(--fs-body-small);
  }

  &--large {
    --btn-font-size: var(--fs-body-large);
  }

  &--display {
    --btn-font-size: var(--fs-body-display);
  }

  &--ghost {
    --btn-bg-color: transparent;
    --btn-content-color: var(--bg-theme-inverse);
    --btn-border-color: var(--border-line);
  }
}
