@use "../abstracts/index" as *;

.eyebrow {
  --eyebrow-bg-opacity: 20%;
  --eyebrow-border-opacity: 40%;
  --eyebrow-color: var(--color-primary);
  --eyebrow-py: 0.6em;
  --eyebrow-px: 0.8em;
  --eyebrow-font-size: var(--fs-eyebrow-default);
  --eyebrow-icon-size: 1.125em;

  @include type-mono(--eyebrow-font-size, 1, 400);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--eyebrow-px);
  padding-block: var(--eyebrow-py);
  gap: 0.375em;
  border: 1px solid color-mix(in srgb, var(--eyebrow-color), transparent calc(100% - var(--eyebrow-border-opacity)));
  border-radius: 0.25rem;
  background-color: color-mix(in srgb, var(--eyebrow-color), transparent calc(100% - var(--eyebrow-bg-opacity)));
  color: var(--eyebrow-color);

  &__icon {
    flex-shrink: 0; // Prevent icon squishing
    width: var(--eyebrow-icon-size);
    fill: currentColor;
  }

  &__text {
    font-size: var(--eyebrow-font-size);
  }

  &--primary {
    --eyebrow-color: var(--color-primary);
  }

  &--dark {
    --eyebrow-color: var(--dark-bg);
  }

  &--ghost {
    --eyebrow-bg-opacity: 0%;
    --eyebrow-border-opacity: 0%;
    --eyebrow-px: 0; // Remove padding for text-only look
    --eyebrow-color: var(--text-primary);
  }

  &--outline {
    --eyebrow-bg-opacity: 0%;
    --eyebrow-border-opacity: 100%; // Solid border
    --eyebrow-color: var(--text-primary); // Text is black/white
  }

  // ------------------------------------------------------
  // VARIANTS: SIZES
  // ------------------------------------------------------

  &--extra-small {
    --eyebrow-font-size: var(--fs-eyebrow-extra-small);
  }

  &--small {
    --eyebrow-font-size: var(--fs-eyebrow-small);
  }

  &--large {
    --eyebrow-font-size: var(--fs-eyebrow-large);
  }
  &--extra-large {
    --eyebrow-font-size: var(--fs-eyebrow-extra-large);
  }

  // ------------------------------------------------------
  // VARIANTS: ANIMATIONS
  // ------------------------------------------------------

  // 1. Define the Animation (At the top of the file)
  @keyframes pulse-scale {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.85);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &--pulse {
    &__icon {
      flex-shrink: 0;
      width: var(--eyebrow-icon-size);
      transform-origin: center;
      fill: currentColor;
      animation: pulse-scale 2s infinite ease-in-out;
    }
  }
}
