@use "../abstracts/index" as *;

// ------------------------------------------------------
// HIGHLIGHT CARD
// A card with a gradient border/frame effect.
// Structure:
// .highlight-card (Gradient BG)
//   └── .highlight-card__inner (Solid BG + Content)
// ------------------------------------------------------

.highlight-card {
  --card-gradient-start: #4a4799;
  --card-gradient-end: #7b76ff;
  --card-bg: var(--bg-inverse);
  --card-border-width: 2px;
  --card-radius: 0.25rem;
  --card-padding: var(--space-m);

  padding: 8px;
  border-radius: var(--card-radius);
  background: radial-gradient(circle at top left, var(--card-gradient-start), var(--card-gradient-end));

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    border-radius: var(--card-radius);
    background-color: var(--bg-theme-inverse);
    color: var(--text-primary-inverse);
    p,
    span {
      @include type-mono(0.875rem, 1, 300, 0);
    }
    pre {
      @include type-mono(0.875rem, 1, 300, 0);
      padding: 0;
      background-color: transparent;
      color: inherit;
    }
  }

  &__toggle {
    display: inline-block;
    position: relative;
    flex-shrink: 0; // Prevent squishing
    width: 3rem; // 48px
    height: 1.75rem; // 28px
    margin-bottom: 0;

    // Hide default checkbox
    input {
      width: 0;
      height: 0;
      opacity: 0;
    }

    // The Track
    span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      // Optional border to define edge on dark bg
      border: 1px solid color-mix(in srgb, var(--text-secondary-inverse), transparent 90%);
      border-radius: 2rem;

      // Default: Muted version of text color
      background-color: color-mix(in srgb, var(--text-secondary-inverse), transparent 80%);
      cursor: pointer;
      transition: 0.3s ease;

      // The Knob
      &:before {
        position: absolute;
        bottom: 0.15rem; // Centered vertically
        left: 0.2rem;
        width: 1.25rem;
        height: 1.25rem; // 20px
        border-radius: 50%;

        background-color: var(--text-primary-inverse); // Knob matches text color
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        content: "";
        transition: 0.3s ease;
      }
    }

    // Checked State (Active)
    input:checked + span {
      border-color: transparent;
      background-color: var(--card-gradient-start); // Uses the Primary Purple
    }

    // Move the Knob
    input:checked + span:before {
      transform: translateX(1.25rem);
      background-color: #fff; // Knob turns pure white for contrast
    }

    // Focus State (Accessibility)
    input:focus + span {
      box-shadow: 0 0 1px var(--card-gradient-start);
    }
  }

  &--frame {
    --card-border-width: var(--space-s);
  }

  &--rainbow {
    background: linear-gradient(135deg, #ff0080, #7928ca, #ff0080);
  }
}
