.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  vertical-align: middle;

  transition:
    fill 0.2s ease,
    transform 0.2s ease;

  &--sm {
    width: 1rem;
    height: 1rem;
  }

  &--md {
    width: 2rem;
    height: 2rem;
  }

  &--lg {
    width: 3rem;
    height: 3rem;
  }

  &--xl {
    width: 5rem;
    height: 5rem;
  }

  &--primary {
    fill: var(--text-primary);
  }

  &--dark {
    fill: var(--light-text-primary);
  }

  &--light {
    fill: var(--dark-text-primary);
  }
}
