.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  vertical-align: middle;

  transition:
    fill 0.2s ease,
    transform 0.2s ease;
  &--xs {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }
  &--sm {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
  }
  &--md {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
  }
  &--lg {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }
  &--xl {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
  &--xxl {
    width: var(--icon-size-xxl);
    height: var(--icon-size-xxl);
  }

  &--primary {
    fill: var(--text-primary);
  }

  &--dark {
    fill: var(--light-text-primary);
  }

  &--light {
    fill: var(--dark-text-primary);
  }
}

@keyframes icon-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.85);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes icon-shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-animate-pulse {
  transform-origin: center;
  animation: icon-pulse 2s infinite ease-in-out;
}

.icon-animate-shake {
  // You might want this on hover only?
  // animation-iteration-count: infinite;
  transform-origin: center;
  animation: icon-shake 0.5s ease-in-out;
}

.icon-animate-spin {
  transform-origin: center;
  animation: icon-spin 1s linear infinite;
}

// Default / None state (Useful for the Bricks Select dropdown)
.icon-animate-none {
  animation: none;
}
