// 1. JetBrains Mono
@font-face {
  font-style: normal;
  font-weight: 100 800;
  src: url("../../fonts/ibmplex.woff2") format("woff2");
  font-family: "ibmplex";
  font-display: swap;
}
// 2. JetBrains Mono
@font-face {
  font-style: normal;
  font-weight: 100 800;
  src: url("../../fonts/jetbrains.woff2") format("woff2");
  font-family: "jetbrains";
  font-display: swap;
}
