// 1. JetBrains Mono
@font-face {
  font-family: "IBMPlex Sans";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("../../font/IBMPlex-sans.woff2") format("woff2");
}
// 2. JetBrains Mono
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("../../font/JetBrains-mono.woff2") format("woff2");
}
