@use "../abstracts/index" as *;

:root {
  /* =========================================
     1. PRIMITIVE PALETTES
     ========================================= */

  /* COLORS */
  --color-purple: oklch(65% 0.25 280);
  --color-green: oklch(90% 0.208 141.41);

  /* DARK PRIMITIVES*/

  --dark-bg: oklch(0% 0 0);
  --dark-text-primary: oklch(98% 0 0);
  --dark-text-secondary: oklch(0.7668 0 0);
  --dark-border: oklch(0.3371 0.0227 311.18);

  /* LIGHT PRIMITIVES*/

  --light-bg: oklch(100% 0 0);
  --light-text-primary: oklch(10% 0 0);
  --light-text-secondary: oklch(65% 0 0);
  --light-border: oklch(0.9205 0.0042 301.42);

  /* =========================================
     2. GLOBAL DEFAULTS (Base = Light Mode)
     ========================================= */

  --bg-theme: var(--light-bg);
  --bg-theme-inverse: var(--dark-bg);
  --text-primary: var(--light-text-primary);
  --text-primary-inverse: var(--dark-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-secondary-inverse: var(--dark-text-secondary);
  --border-line: var(--light-border);
  --border-line-inverse: var(--dark-border);
  --color-primary: var(--color-purple);

  // ------------------------------------------------------
  // font sizes
  // ------------------------------------------------------

  // 18px -> 19px
  --fs-body-display: #{clamp-calc(1.125rem, 1.1875rem)};
  // 17px -> 18px
  --fs-body-large: #{clamp-calc(1.063rem, 1.125rem)};
  // 16px -> 17px
  --fs-body-default: #{clamp-calc(1rem, 1.063rem)};
  // 15px -> 16px
  --fs-body-small: #{clamp-calc(0.938rem, 1rem)};

  --fs-heading-display: clamp(1.8rem, 13cqi, 4rem);
  --fs-heading-h1: #{clamp-calc(1.6rem, 3rem)};
  --fs-heading-h2: #{clamp-calc(1.6rem, 2.375rem)};
  --fs-heading-h3: #{clamp-calc(1.3rem, 1.5rem)};
  --fs-heading-h4: 1.25rem;

  --icon-size-xs: 0.75rem;
  --icon-size-sm: 1rem;
  --icon-size-md: 1.5rem;
  --icon-size-lg: 2rem;
  --icon-size-xl: 2.5rem;
  --icon-size-xxl: 3rem;
}

/* =========================================
   3. SECTION THEMING
   ========================================= */

/* Force a section to be Light Mode */
.theme-light {
  --bg-theme: var(--light-bg);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --border-line: var(--light-border);

  /* Slightly darker accent for visibility on white */
  --color-primary: oklch(55% 0.25 280);

  background-color: var(--bg-theme);
  color: var(--text-primary);
}

/* Force a section to be Dark Mode */
.theme-dark {
  --bg-theme: var(--dark-bg);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --border-line: var(--dark-border);

  background-color: var(--bg-theme);
  color: var(--text-primary);
}
