:root {
  /* =========================================
     1. PRIMITIVE PALETTES
     ========================================= */

  /* COLORS */
  --color-purple: oklch(65% 0.25 280);
  --color-green: oklch(90% 0.208 141.41);

  /* DARK PRIMITIVES*/

  --dark-bg: oklch(0% 0 0);
  --dark-text-primary: oklch(98% 0 0);
  --dark-text-secondary: oklch(0.7668 0 0);
  --dark-border: oklch(0.3371 0.0227 311.18);

  /* LIGHT PRIMITIVES*/

  --light-bg: oklch(100% 0 0);
  --light-text-primary: oklch(10% 0 0);
  --light-text-secondary: oklch(65% 0 0);
  --light-border: oklch(0.9205 0.0042 301.42);

  /* =========================================
     2. GLOBAL DEFAULTS (Base = Light Mode)
     ========================================= */

  --bg-theme: var(--light-bg);
  --bg-theme-inverse: var(--dark-bg);
  --text-primary: var(--light-text-primary);
  --text-primary-inverse: var(--dark-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-secondary-inverse: var(--dark-text-secondary);
  --border-line: var(--light-border);
  --border-line-inverse: var(--dark-border);
  --color-primary: var(--color-purple);

  // ------------------------------------------------------
  // Spacing System (Primitive Scale)
  // ------------------------------------------------------

  // We use CSS variables for spacing so they can be changed
  // inside builder instances if absolutely necessary.
  --space-xs: 0.5rem; // 8px
  --space-s: 1rem; // 16px
  --space-m: 1.5rem; // 24px
  --space-l: 2rem; // 32px`
  --space-xl: 3rem; // 48px
  --space-2xl: 5rem; // 80px
  --space-3xl: 8rem; // 128px

  // font sizes
  --fs-body-display: clamp(1.125rem, 1.1042rem + 0.1042vw, 1.1875rem);
  --fs-body-large: clamp(1.063rem, 1.042rem + 0.104vw, 1.125rem);
  --fs-body-default: clamp(1rem, 0.979rem + 0.104vw, 1.063rem);
  --fs-body-small: clamp(0.938rem, 0.917rem + 0.104vw, 1rem);
}

/* =========================================
   3. SECTION THEMING
   ========================================= */

/* Force a section to be Light Mode */
.theme-light {
  --bg-theme: var(--light-bg);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --border-line: var(--light-border);

  /* Slightly darker accent for visibility on white */
  --color-primary: oklch(55% 0.25 280);

  background-color: var(--bg-theme);
  color: var(--text-primary);
}

/* Force a section to be Dark Mode */
.theme-dark {
  --bg-theme: var(--dark-bg);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --border-line: var(--dark-border);

  background-color: var(--bg-theme);
  color: var(--text-primary);
}
