@use "vars" as *;

@mixin type-sans($size, $line, $weight: 400, $tracking: 0) {
  font-weight: $weight;
  font-size: $size; // can be rem or clamp(...)
  line-height: $line; // unitless
  font-family: $font-sans;
  letter-spacing: $tracking;
}

@mixin type-mono($size, $line, $weight: 500, $tracking: 0) {
  font-weight: $weight;
  font-size: $size; // can be rem or clamp(...)
  line-height: $line; // unitless
  font-family: $font-mono;
  font-variant-numeric: tabular-nums;
  letter-spacing: $tracking;
}

// $bp-xxs: 20rem; //320px
@mixin mq-phone-xs() {
  @media (min-width: $bp-xxs) {
    @content;
  }
}

// $bp-xs: 25rem; //400px
@mixin mq-phone() {
  @media (min-width: $bp-xs) {
    @content;
  }
}

//$bp-sm: 29.875rem; //478px
@mixin mq-phone-lg() {
  @media (min-width: $bp-sm) {
    @content;
  }
}

// $bp-md: 47.9375rem; //767px
@mixin mq-tablet() {
  @media (min-width: $bp-md) {
    @content;
  }
}

// $bp-lg: 64rem; // 1023px
@mixin mq-laptop() {
  @media (min-width: $bp-lg) {
    @content;
  }
}
// $bp-xl: 80rem  1280px
@mixin mq-desktop() {
  @media (min-width: $bp-xl) {
    @content;
  }
}
