$bp-xxs: 20rem; //320px
$bp-xs: 25rem; //400px
$bp-sm: 29.875rem; //478px
$bp-md: 47.9375rem; //767px
$bp-lg: 63.9375rem; // 1023px
$bp-xl: 80rem; // 1280px

$text-xs: #{clamp-calc(0.813rem, 0.875rem)}; /* 13px -> 14px */
$text-sm: #{clamp-calc(0.938rem, 1rem)}; /* 15px -> 16px */
$text-base: #{clamp-calc(1rem, 1.063rem)}; /* 16px -> 17px */
$text-lg: #{clamp-calc(1.063rem, 1.125rem)};
$text-xl: #{clamp-calc(1.125rem, 1.1875rem)}; /* 18px -> 19px */
$text-2xl: #{clamp-calc(1.25rem, 1.375rem)}; /* 20px -> 22px */
$text-3xl: #{clamp-calc(1.5rem, 1.75rem)}; /* 24px -> 28px */
$text-4xl: #{clamp-calc(1.875rem, 2.125rem)}; /* 30px -> 34px */
$text-5xl: #{clamp-calc(2.25rem, 2.5rem)}; /* 36px -> 40px */
$text-6xl: #{clamp-calc(3rem, 3.5rem)}; /* 48px -> 56px */
$text-7xl: #{clamp-calc(3.75rem, 4rem)}; /* 60px -> 64px */
$text-8xl: #{clamp-calc(4.5rem, 5rem)}; /* 72px -> 80px */
$text-9xl: #{clamp-calc(6rem, 6.5rem)}; /* 96px -> 104px */
$text-10xl: #{clamp-calc(8rem, 8.5rem)}; /* 128px -> 136px */

$fs-body-extra-small: var(--text-xs);
$fs-body-small: var(--text-sm);
$fs-body-default: var(--text-base);
$fs-body-large: var(--text-lg);
$fs-body-display: var(--text-xl);

$fs-heading-h4: var(--text-xl);
$fs-heading-h3: var(--text-2xl);
$fs-heading-h2: var(--text-3xl);
$fs-heading-h1: var(--text-4xl);
$fs-heading-display: clamp(1.8rem, 13cqi, 4rem);

$icon-size-xs: 0.75rem;
$icon-size-sm: 1rem;
$icon-size-md: 1.5rem;
$icon-size-lg: 2rem;
$icon-size-xl: 2.5rem;
$icon-size-xxl: 3rem;

$font-sans:
  ibmplex,
  system-ui,
  -apple-system,
  sans-serif;

$font-mono:
  jetbrains,
  Roboto Mono,
  monospace;
