$bp-xxs: 20rem; //320px
$bp-xs: 25rem; //400px
$bp-sm: 29.875rem; //478px
$bp-md: 47.9375rem; //767px
$bp-lg: 63.9375rem; // 1023px
$bp-xl: 80rem; // 1280px

// 18px -> 19px
$fs-body-display: #{clamp-calc(1.125rem, 1.1875rem)};
// 17px -> 18px
$fs-body-large: #{clamp-calc(1.063rem, 1.125rem)};
// 16px -> 17px
$fs-body-default: #{clamp-calc(1rem, 1.063rem)};
// 15px -> 16px
$fs-body-small: #{clamp-calc(0.938rem, 1rem)};

$icon-size-xs: 0.75rem;
$icon-size-sm: 1rem;
$icon-size-md: 1.5rem;
$icon-size-lg: 2rem;
$icon-size-xl: 2.5rem;
$icon-size-xxl: 3rem;

$font-sans:
  ibmplex,
  system-ui,
  -apple-system,
  sans-serif;

$font-mono:
  jetbrains,
  Roboto Mono,
  monospace;
