$bp-xxs: 20rem; //320px
$bp-xs: 25rem; //400px
$bp-sm: 29.875rem; //478px
$bp-md: 47.9375rem; //767px
$bp-lg: 63.9375rem; // 1023px
$bp-xl: 80rem; // 1280px

$fs-body-display: clamp(1.125rem, 1.1042rem + 0.1042vw, 1.1875rem);
$fs-body-large: clamp(1.063rem, 1.042rem + 0.104vw, 1.125rem);
$fs-body-default: clamp(1rem, 0.979rem + 0.104vw, 1.063rem);
$fs-body-small: clamp(0.938rem, 0.917rem + 0.104vw, 1rem);

$font-sans:
  ibmplex,
  system-ui,
  -apple-system,
  sans-serif;

$font-mono:
  jetbrains,
  Roboto Mono,
  monospace;
