$bp-xxs: 20rem;
$bp-xs: 25rem; //400px
$bp-sm: 29.875rem; //478px
$bp-md: 47.9375rem; //767px
$bp-lg: 61.9375rem; // 991px
$bp-xl: 80rem; // 1280px

$font-sans:
  ibmplex,
  system-ui,
  -apple-system,
  sans-serif;

$font-mono:
  jetbrains,
  Roboto Mono,
  monospace;
